* {
    box-sizing: border-box;
}

body {
    /* text-align: center; */
}

img {
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 1rem;
    margin-right: 1rem;
}

.row {
    display: flex;
}